{% extends 'layout.html' %}


{% block body %}
{% from "./includes/formhelpers.html" import render_field %}
<h3>Kayıt Olun</h3>
<hr>
<form method=post>
  <dl>
    {{ render_field(form.name,class="form-control") }}
    {{ render_field(form.username,class="form-control") }}
    {{ render_field(form.email,class="form-control") }}
    {{ render_field(form.password,class="form-control") }}
    {{ render_field(form.confirmPassword,class="form-control") }}
  </dl>
  <p><input class="btn btn-primary"   type=submit value=Register>
</form>
{% endblock body %}